
# BEGIN WordPress
# التعليمات (الأسطر) بين `BEGIN WordPress` and `END WordPress`
# تم إنشاؤها ديناميكيًا، ويجب تعديلها فقط من خلال مرشحات ووردبريس (WordPress Filters).
# أي تغييرات على التعليمات بين هذه العلامات سيتم الكتابة فوقها.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /rawj/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /rawj/index.php [L]
</IfModule>

# END WordPress


php_value upload_max_filesize 256M
php_value post_max_size 128M
php_value memory_limit 512M
php_value max_execution_time 300
php_value max_input_time 600